public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate palettes # Used by the Projector.

# Anything related to the Boat is used by the Speedboat!
protected net.minecraft.world.entity.vehicle.Boat status
protected net.minecraft.world.entity.vehicle.Boat oldStatus
protected net.minecraft.world.entity.vehicle.Boat outOfControlTicks
protected net.minecraft.world.entity.vehicle.Boat paddlePositions
protected net.minecraft.world.entity.vehicle.Boat deltaRotation
protected net.minecraft.world.entity.vehicle.Boat lerpSteps
protected net.minecraft.world.entity.vehicle.Boat lerpY
protected net.minecraft.world.entity.vehicle.Boat lerpZ
protected net.minecraft.world.entity.vehicle.Boat waterLevel
protected net.minecraft.world.entity.vehicle.Boat lastYd
protected net.minecraft.world.entity.vehicle.Boat inputLeft
protected net.minecraft.world.entity.vehicle.Boat inputRight
protected net.minecraft.world.entity.vehicle.Boat inputUp
protected net.minecraft.world.entity.vehicle.Boat inputDown
protected net.minecraft.world.entity.vehicle.Boat tickLerp()V
protected net.minecraft.world.entity.vehicle.Boat tickBubbleColumn()V
protected net.minecraft.world.entity.vehicle.Boat floatBoat()V
protected net.minecraft.world.entity.vehicle.Boat controlBoat()V
protected net.minecraft.world.entity.vehicle.Boat checkInWater()Z
protected net.minecraft.world.entity.vehicle.Boat getStatus()Lnet/minecraft/world/entity/vehicle/Boat$Status;
protected net.minecraft.world.entity.vehicle.Boat isUnderwater()Lnet/minecraft/world/entity/vehicle/Boat$Status;
